{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Buyer Decision: Buy
{% endblock %}

{% block content %}
<p>Your valuation for the product is: {{ player.private_value }}</p>
<p>The seller incurs production costs of {{ Constants.prod_cost }}</p>
<p> The seller decided for the following pricing mechanism: {% if s_choice == 1 %} fixed price {% else %} PWYW {% endif %}.</p>


{% if s_choice == 1 %}
<p>The seller set a price of {{ group.s_decision_price_FP }}</p>
{% else %}
<p>This means you can pay what you want.</p>
{% endif %}

Please decide:
    {% formfields %}
    {% next_button %}

{% endblock %}
