{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Instructions
    </h3>
    <p>
        In this experiment you can earn money depending on your decisions and the decisions of other participants. It is therefore important that you
        read the instructions carefully and completely.
    </p>
    <h3>Procedures</h3>
    <p>
        The experiment will last about 15 minutes. Payoffs are shown in ECU (Experimental Currency Units); 1 ECU = 0.1 USD.
    </p>

    <h3>Overview</h3>
    <p>
        Four participants interact with each other, <b>one seller</b> and <b>three buyers</b>. Your role will be randomly assigned at the beginning of the experiment.
        It is very important that you familiarize yourself with both roles.
    </p>

    <h3>Participants</h3>
    <p>
       The other participants in this experiment are <b>MTurkers like you</b>. All participants remain anonymous. Neither during nor after the experiment you will get to know with whom you were connected and vice versa.
    </p>

    <h3>NEW Earnings NEW</h3>
    <p>
        INFO about payoff and all components. If you do not complete the experiment, you will not receive any payment.
    </p>

    </div>
</div>
