{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

        <h3> Background</h3>
     <p>
         The seller's product can be sold once to each of the three buyers. Each buyer values the product differently; the valuation (what it is worth to a buyer) lies between 2 and 10. The seller's production costs are 3.
     </p>
    <h3> Decision situation</h3>
     <p>
         First, the seller chooses how to offer the product: "Fixed price" or "pay-what-you-want (PWYW)".
     </p>
     <p>
         When choosing <b>fixed price</b> the seller will set a price. Then, each buyer decides whether to buy at that price or not.
     </p>
         <ul>
            <li> If a buyer decides against the purchase, there will be no transaction: 0 for this buyer, 0 for the seller (from that buyer)  </li>
            <li> If a buyer decides to purchase, the seller receives the set price and the buyer gets their valuation minus the price. </li>
         </ul>
        <p>
         If the seller chooses <b>PWYW</b>, the payments are determined by the buyers. Each buyer decides how much to pay:
         <ul>
            <li> The seller receives the payment of each buyer.  </li>
            <li> Each buyer gets their valuation minus the payment they made.</li>
         </ul>
     </p>
    <h3> Payoffs</h3>
     <p>
        <b> The payoff for the seller</b> is the sum of the buyers' payments minus 3 (production costs).
        <p>
        <b> The payoff for a buyer</b> is the valuation minus the payment; or 0 in case the buyer decided not to buy.
    </p>
    </p>
    <p>
        The seller learns about the payments made. The buyers are not informed about the payments made by other buyers. The experiment ends after one round.
    </p>

        <h3> Information about valuations</h3>
    {% if treatment == 1 %}
            <p>
                <b>The seller knows the valuations</b> of the three buyers.
                The <b>buyers know their respective valuations, but they do not know valuations of other buyers.
            </p>
    {% elif treatment == 2 %}
            <p>
                <b>The seller knows the valuations</b> of the three buyers.
                The <b>buyers do not know their valuation</b>, neither the valuation of other buyers'.
                <p>
                <b>In case the seller selects PWYW</b>: If the buyer decides to purchase, the buyer will be informed about their valuation before making the payment decision.
            </p>
    {% elif treatment == 3 %}
            <p>
                <b>The seller does not know the valuations</b> of the three buyers.
                The <b>buyers know their respective valuations</b>, but they do not know valuations of other buyers.
            </p>
    {% elif treatment == 4 %}
            <p>
                The valuations of the buyers are not known, <b> neither to the seller nor to the buyers</b>.
                <p>
                <b>In case the seller selects PWYW</b>: If the buyer decides to purchase, the buyer will be informed about their valuation before making the payment decision.
            </p>
    {% endif %}


    </div>
</div>
