{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Instructions
    </h3>
    <p>
        In this experiment you can earn a bonus depending on your decisions and the decisions of other participants. It is therefore important that you
        read the instructions carefully and completely.
    </p>
    <h3>Procedures</h3>
    <p>
        The experiment will last about 15 minutes. Payoffs are shown in points; 1 point = {{ session.real_world_currency_per_point }} USD.
    </p>

    <h3>Overview</h3>
    <p>
        Four participants interact with each other, <b>one seller</b> and <b>three buyers</b>. Your role will be randomly assigned at the beginning of the experiment.
        It is very important that you familiarize yourself with both roles.
    </p>

    <h3>Participants</h3>
    <p>
       The other participants in this experiment are <b>MTurkers like you</b>. All participants remain anonymous. Neither during nor after the experiment you will get to know with whom you were connected and vice versa.
    </p>

    <h3>Earnings </h3>
    <p>
        Your earnings consist of the participation fee ({{ session.participation_fee }}) plus the bonus (base and payoff). <b> If you quit the experiment before the end, you will not receive any earnings! </b> If you quit, you will also keep three other MTurkers from completing the experiment.
    </p>

    </div>
</div>
