{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Information about valuations
{% endblock %}

{% block content %}
The seller is

{% if Constants.treatment <= 2 %}
    informed about the buyers' valuations.
{% else %}
    not informed about the buyers' valuations.
{% endif %}

        <p>
        <p>

The buyers
{% if Constants.treatment <= 1 %}
    know their respective valuation.
{% elif Constants.treatment == 3 %}
    know their respective valuation.
{% else %}
    do not know their respective valuation.

        <p>

If the seller selects PWYW, buyers will be informed about their valuation if they decide to purchase.
{% endif %}

    {% next_button %}

    {% include Constants.instructions_decision %}

{% endblock %}
